.git
.gitignore
.DS_Store
.pytest_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
htmlcov

data/outputs
data/reference_data
data/sample_submissions
/release
scripts/dev
submissions/incoming
submissions/extracted
submissions/validated

docs
tests
demo_broken_submission
demo_valid_submission
sample_valid_submission
*.zip
*.nii
*.nii.gz
*.dcm
*.ima
*.mha
*.mhd
*.nrrd
